.btn {
  cursor: pointer;
  border: 0;
  outline: none;
  background: none;
  white-space: nowrap;

  &:disabled {
    cursor: default;
  }

  &-simple {
    .icon {
      color: $color-icon;
    }
    &:hover {
      .icon {
        color: $color-link-primary;
      }
    }
  }
}
