.header-user {
  @include row();
  @include middle();
  
  &-pic {
    @include roundPic(2em);
  }

  &-arrow {
    width: $gutter;
    padding-left: $gutter;
    &:before,
    &:after {
      margin-right: auto;
      margin-left: auto;
    }
    &:before {
      @include arrowUp(8px, 4px, $color-icon);
      margin-bottom: 4px;
    }
    &:after {
      @include arrowDown(8px, 4px, $color-icon);
      margin-top: 4px;
    }
  }
}