@import 'header-logo';
@import 'header-search';
@import 'header-user';

.header {
  @include row();
  @include between();
  @include middle();
  background: $bg-secondary;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px 3px $color_shadow;
  color: $color-primary;
  
  &-main {
    @include col(12);
    @include col(lg, 8);
    border-top: 1px solid $color-border;
    &-inner {
      @include row();
      @include start();
      @include end(md);
      @include middle();
      @include rowReset();
    }

    &-col {
      @include col(12);
      position: relative;
      &:not(:first-child) {
        &:before {
          display: block;
          width: 1px;
          content: '';
          background: $color-border;
          position: absolute;
          top: 0;
          left: -.5px;
          bottom: 0;
        }
        @media #{$breakpoint-md-up} {
          border-top: 0;
        }
      }

      &.-search {
        @include col(7);
        @include col(lg, 4);
      }
      &.-user {
        @include col(5);
        @include col(lg, 2);
      }
    }

    @media #{$breakpoint-lg-up} {
      border-top: 0;
    }
  }

}