$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../fonts/icons" !default;

$icon-pencil: "\e901";
$icon-folder: "\e902";
$icon-basket: "\e903";
$icon-settings: "\e904";
$icon-search: "\e905";
$icon-life-buoy: "\e900";
