@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1em; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1em; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 1em; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 1em; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1em; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 1em; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 1em; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1em; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 1em; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 1em; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1em; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 1em; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 1em; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1em; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 320px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1em; }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1em; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1em; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1em; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1em; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1em; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1em; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1em; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1em; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1em; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1em; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1em; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .row.start-sm {
    justify-content: flex-start; }

  .row.center-sm {
    justify-content: center; }

  .row.end-sm {
    justify-content: flex-end; }

  .row.top-sm {
    align-items: flex-start; }

  .row.middle-sm {
    align-items: center; }

  .row.bottom-sm {
    align-items: flex-end; }

  .row.around-sm {
    justify-content: space-around; }

  .row.between-sm {
    justify-content: space-between; }

  .first-sm {
    order: -1; }

  .last-sm {
    order: 1; } }
@media only screen and (min-width: 480px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1em; }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1em; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1em; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1em; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1em; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1em; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1em; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1em; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1em; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1em; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1em; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1em; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .row.start-md {
    justify-content: flex-start; }

  .row.center-md {
    justify-content: center; }

  .row.end-md {
    justify-content: flex-end; }

  .row.top-md {
    align-items: flex-start; }

  .row.middle-md {
    align-items: center; }

  .row.bottom-md {
    align-items: flex-end; }

  .row.around-md {
    justify-content: space-around; }

  .row.between-md {
    justify-content: space-between; }

  .first-md {
    order: -1; }

  .last-md {
    order: 1; } }
@media only screen and (min-width: 680px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1em; }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1em; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1em; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1em; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1em; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1em; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1em; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1em; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1em; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1em; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1em; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1em; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .row.start-lg {
    justify-content: flex-start; }

  .row.center-lg {
    justify-content: center; }

  .row.end-lg {
    justify-content: flex-end; }

  .row.top-lg {
    align-items: flex-start; }

  .row.middle-lg {
    align-items: center; }

  .row.bottom-lg {
    align-items: flex-end; }

  .row.around-lg {
    justify-content: space-around; }

  .row.between-lg {
    justify-content: space-between; }

  .first-lg {
    order: -1; }

  .last-lg {
    order: 1; } }
@media only screen and (min-width: 1400px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1em; }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1em; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1em; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1em; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1em; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1em; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1em; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1em; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1em; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1em; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1em; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1em; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em; }

  .col-xl-offset-12 {
    margin-left: 100%; }

  .row.start-xl {
    justify-content: flex-start; }

  .row.center-xl {
    justify-content: center; }

  .row.end-xl {
    justify-content: flex-end; }

  .row.top-xl {
    align-items: flex-start; }

  .row.middle-xl {
    align-items: center; }

  .row.bottom-xl {
    align-items: flex-end; }

  .row.around-xl {
    justify-content: space-around; }

  .row.between-xl {
    justify-content: space-between; }

  .first-xl {
    order: -1; }

  .last-xl {
    order: 1; } }
.col-gutter-lr {
  padding: 0 1em; }

.col-no-gutter {
  padding: 0; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 319px) {
  .show-xs-only {
    display: block !important; }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xs-only {
    display: none !important; } }
@media only screen and (min-width: 320px) {
  .show-sm {
    display: block !important; }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm {
    display: none !important; } }
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .show-sm-only {
    display: block !important; }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-sm-only {
    display: none !important; } }
@media only screen and (min-width: 480px) {
  .show-md {
    display: block !important; }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md {
    display: none !important; } }
@media only screen and (min-width: 480px) and (max-width: 679px) {
  .show-md-only {
    display: block !important; }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-md-only {
    display: none !important; } }
@media only screen and (min-width: 680px) {
  .show-lg {
    display: block !important; }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg {
    display: none !important; } }
@media only screen and (min-width: 680px) and (max-width: 1399px) {
  .show-lg-only {
    display: block !important; }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-lg-only {
    display: none !important; } }
@media only screen and (min-width: 1400px) {
  .show-xl {
    display: block !important; }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .hide-xl {
    display: none !important; } }
@font-face {
  font-family: "icons";
  src: url("../../fonts/icons/icons.ttf?1p2yxl") format("truetype"), url("../../fonts/icons/icons.woff?1p2yxl") format("woff"), url("../../fonts/icons/icons.svg?1p2yxl#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-basket:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-life-buoy:before {
  content: ""; }

html {
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(12px + 6 * ((100vw - 320px) / 1080)); } }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 18px; } }
@media (min-width: 480px) and (max-width: 679px) {
  html {
    font-size: 16px; } }
  @media screen and (min-width: 480px) and (max-width: 679px) and (min-width: 320px) {
    html {
      font-size: calc(16px + 8 * ((100vw - 320px) / 1080)); } }
  @media screen and (min-width: 480px) and (max-width: 679px) and (min-width: 1400px) {
    html {
      font-size: 24px; } }

@media (max-width: 680px) {
  html {
    font-size: 20px; } }
  @media screen and (max-width: 680px) and (min-width: 320px) {
    html {
      font-size: calc(20px + 8 * ((100vw - 320px) / 1080)); } }
  @media screen and (max-width: 680px) and (min-width: 1400px) {
    html {
      font-size: 28px; } }

.icon {
  color: #a0a1a6; }

.input-text {
  display: block;
  padding: 0.5em;
  border: 0;
  outline: none;
  color: #45464a; }

.btn {
  cursor: pointer;
  border: 0;
  outline: none;
  background: none; }
  .btn:disabled {
    cursor: default; }
  .btn-simple .icon {
    color: #a0a1a6; }
  .btn-simple:hover .icon {
    color: #3a4; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }
  *:before, *:after {
    box-sizing: border-box; }

html,
body {
  min-width: 320px;
  background: #fbfbfd; }

a {
  text-decoration: none;
  outline: none;
  border: 0; }

#root {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  background: #fbfbfd; }

.main-container {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh; }

.header-logo {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1em; }
  @media only screen and (min-width: 480px) {
    .header-logo {
      box-sizing: border-box;
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      padding: 1em; } }
  @media only screen and (min-width: 680px) {
    .header-logo {
      box-sizing: border-box;
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      padding: 1em; } }
  .header-logo-link {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #45464a;
    white-space: nowrap; }
    @media only screen and (min-width: 480px) {
      .header-logo-link {
        justify-content: flex-start; } }
    .header-logo-link:hover {
      color: #3a4; }
  .header-logo-icon {
    font-size: 1.1rem; }
  .header-logo-text {
    padding-left: .5em;
    font-size: .9rem;
    font-weight: 700; }

.header-search {
  position: relative; }
  .header-search-input {
    display: block;
    width: 100%;
    padding-left: 2em;
    font-size: .6rem;
    position: relative;
    z-index: 10; }
    @media only screen and (min-width: 680px) {
      .header-search-input {
        font-size: .8rem; } }
  .header-search-btn {
    display: block;
    height: 100%;
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }

.header-user {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .header-user-pic {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden; }
    .header-user-pic img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%; }
  .header-user-arrow {
    width: 1em;
    padding-left: 1em; }
    .header-user-arrow:before, .header-user-arrow:after {
      margin-right: auto;
      margin-left: auto; }
    .header-user-arrow:before {
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-style: solid;
      border-top: 0;
      border-right-width: 4px;
      border-right-color: transparent;
      border-bottom-width: 4px;
      border-bottom-color: #a0a1a6;
      border-left-width: 4px;
      border-left-color: transparent;
      margin-bottom: 4px; }
    .header-user-arrow:after {
      display: block;
      width: 0;
      height: 0;
      content: '';
      border-style: solid;
      border-top-width: 4px;
      border-top-color: #a0a1a6;
      border-right-width: 4px;
      border-right-color: transparent;
      border-bottom: 0;
      border-left-width: 4px;
      border-left-color: transparent;
      margin-top: 4px; }

.header {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #e8e8ea;
  box-shadow: 0 1px 3px #eee;
  color: #45464a; }
  .header-main {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em; }
    @media only screen and (min-width: 480px) {
      .header-main {
        box-sizing: border-box;
        flex-basis: 66.66667%;
        max-width: 66.66667%;
        padding: 1em; } }
    @media only screen and (min-width: 680px) {
      .header-main {
        box-sizing: border-box;
        flex-basis: 66.66667%;
        max-width: 66.66667%;
        padding: 1em; } }
    .header-main-inner {
      box-sizing: border-box;
      margin: 0 auto;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: -1em; }
      @media only screen and (min-width: 480px) {
        .header-main-inner {
          justify-content: flex-end; } }
    .header-main-col {
      box-sizing: border-box;
      flex-basis: 100%;
      max-width: 100%;
      padding: 1em;
      position: relative; }
      .header-main-col:not(:first-child):before {
        display: block;
        width: 1px;
        content: '';
        background: #e8e8ea;
        position: absolute;
        top: 0;
        left: -.5px;
        bottom: 0; }
      @media only screen and (min-width: 480px) {
        .header-main-col.-search {
          box-sizing: border-box;
          flex-basis: 58.33333%;
          max-width: 58.33333%;
          padding: 1em; } }
      @media only screen and (min-width: 680px) {
        .header-main-col.-search {
          box-sizing: border-box;
          flex-basis: 33.33333%;
          max-width: 33.33333%;
          padding: 1em; } }
      @media only screen and (min-width: 480px) {
        .header-main-col.-user {
          box-sizing: border-box;
          flex-basis: 41.66667%;
          max-width: 41.66667%;
          padding: 1em; } }
      @media only screen and (min-width: 680px) {
        .header-main-col.-user {
          box-sizing: border-box;
          flex-basis: 16.66667%;
          max-width: 16.66667%;
          padding: 1em; } }

.content-header {
  border-bottom: 1px solid #e8e8ea; }
  .content-header-inner {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-width: 320px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto; }
  .content-header-title {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em;
    font-size: 1.1rem;
    font-weight: 700; }
    @media only screen and (min-width: 680px) {
      .content-header-title {
        box-sizing: border-box;
        flex-basis: 50%;
        max-width: 50%;
        padding: 1em; } }
  .content-header-users {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (min-width: 680px) {
      .content-header-users {
        box-sizing: border-box;
        flex-basis: 50%;
        max-width: 50%;
        padding: 1em; } }
  .content-header-pics {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1em; }
    .content-header-pics-inner {
      box-sizing: border-box;
      margin: 0 auto;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 0 1 auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin: -1em; }
    .content-header-pics-col {
      box-sizing: border-box;
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      padding: 1em; }
  .content-header-pic {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto; }
    .content-header-pic img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%; }
  .content-header-more {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #1565d8;
    color: #1565d8;
    text-align: center;
    font-size: .7rem;
    font-weight: 700; }
    .content-header-more img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      max-height: 100%; }
    .content-header-more:hover {
      border-color: #3a4;
      color: #3a4; }
  .content-header-btn {
    font-size: 1.3rem; }
  .content-header-icon {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1em;
    border-left: 1px solid #e8e8ea; }
