.header {
  @include row();
  @include between();
  @include middle();
  background: $bg-secondary;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px 3px $color_shadow;
  color: $color-primary;

  &-logo {
    @include col(12);
    @include col(md, 6);
    @include col(lg, 4);
    &-link {
      @include row();
      @include middle();
      @include center();
      @include start(md);
      color: $color-primary;
      white-space: nowrap;
      &:hover {
        color: $color-link-primary;
      }
    }
    &-icon {
      font-size: 1.1rem;
    }
    &-text {
      padding-left: .5em;
      font-size: .9rem;
      font-weight: 700;
    }
  }
  
  &-main {
    @include col(12);
    @include col(md, 6);
    @include col(lg, 8);

    &-inner {
      @include row();
      @include start();
      @include end(md);
      @include middle();
    }

    &-col {
      @include col();
    }
  }

  &-search {
  }

}