.content-header {
  border-bottom: 1px solid $color-border;

  &-inner {
    @include row();
    @include middle();
    @include blockCenter();
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  &-title {
    @include col(12);
    @include col(lg, 6);
    font-size: 1.1rem;
    font-weight: 700;
  }

  &-users {
    @include col(12);
    @include col(lg, 6);
    &-inner {      
      @include row();
      @include middle();
      @include rowReset();
      flex-wrap: nowrap;
    }
  }

  &-pics {
    @include col(11);
    &-inner {
      @include row();
      @include middle();
      @include start();
      @include end(lg);
      @include rowReset();
      padding-right: 3 * $gutter / 4;
      padding-left: 3 * $gutter / 4;
    }
    &-col {
      padding: $gutter / 4;
    }
  }

  &-pic {
    @include roundPic(2em);
    margin: 0 auto;
  }

  &-more {
    @include roundPic(100%);
    border: 2px solid $color-link-secondary;
    color: $color-link-secondary;
    text-align: center;
    font-size: .7rem;
    font-weight: 700;
    &:hover {
      border-color: $color-link-primary;
      color: $color-link-primary;
    }
  }

  &-btn {
    font-size: 1.3rem;
  }

  &-icon {
    @include col();
    flex-grow: 0;
    border-left: 1px solid $color-border;
  }

}